

body{
    background: #eceaea;
     /* background-image: linear-gradient(360deg,#642b73,#dd5683,#123456);  */
     height: 0px;
    }

h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}

.ui.segment{
    /* box-shadow: 5px; */
}
.ui.container.fluid>h1,i{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*================= Header CSS ================*/

.ui.container>.ui.menu{
    
    border-radius: 0%;
}
.ui.menu .item.home{
    font: 1em sans-serif;
    font-weight: bold;
}
.item .ui.avatar.image.current-user-profile{
    background-color: white;
    cursor: pointer;
}
.item .ui.avatar.image.current-user-profile:hover{
    background-color: gainsboro;
}

/* ============================= INDEX PAGE ======================*/
/* ======================== Search Panel =============== */
/* ----------- Quick Link -------- */

.ui.container> .search-panel{
    margin-top: 150px;
}

.search-panel>.quick-link>label{
    text-decoration: underline;
}

.quick-link .quick-links{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
.quick-link .quick-links:hover{
    color: coral;
}
.quick-link .popup{
    color: blue;
}

/* ----------- End Quick Link -------- */
/* ======================== End Search Panel =============== */


/* ************************ Product cards start =================== */

.event-panal>.ui.cards.product-cards>.card{
    width: 319px;
}

/* ************************ Product Card End ======================= */


/* ======================== END INDEX PAGE ================== */
/* ================ Current User Popup ===================== */
.ui.vertical.menu .menu .item{
    font-size: 1em;
}
/* ================ End Current User Popup ===================== */
/*================= Login CSS ================*/
.ui.container>.ui.segment.orange.login-form{
    width: 41%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.ui.container>.ui.segment.login-form2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
}
.ui.container>.ui.segment.login-form2>p{
    font-weight: bolder;
}
.ui.segment>p.forget-pass{
    text-align: center;
    font-weight: bolder;

}

/* ======================== End Login CSS =============== */

/*================= SignUp CSS ================*/
.ui.container>.ui.segment.orange.signup-form{
    width: 41%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    margin-bottom: 10px;  
}
.ui.container>.ui.segment.signup-form2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;   
}
.ui.container>.ui.segment.signup-form2>p{
    text-align: center;
    font-weight: bolder;
}

/* ======================== End SignUp CSS =============== */

/* ========================= End Of Header ================*/